@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-bg-dark: rgb(0, 0, 0);
  --color-text-dark: white;
  --color-link-hover: #dddddd18;
  --color-light: #71767b;
  --color-lighter: #ffffff38;
  --color-black-80: #00000080;
  --color-btn: rgb(239, 243, 244);
  --color-blue-primary: rgb(29, 155, 240);
  --color-blue-primary-light: rgba(29, 155, 240, 0.2);
  --color-green-primary: rgb(0, 168, 126);
  --color-green-primary-light: rgba(0, 168, 126, 0.2);
  --color-pink-primary-light: rgba(249, 24, 128, 0.2);
  --color-pink-primary: rgb(249, 24, 128);
  --default-font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
  min-height: 100vh;
}

h2{
  @apply font-bold text-xl mb-6 ms-5;
}