@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-bg-dark: rgb(0, 0, 0);
  --color-text-dark: white;
  --color-link-hover: #dddddd18;
  --color-light: #71767b;
  --color-btn: rgb(239, 243, 244);
  --color-blue-primary: rgb(29, 155, 240);
  --default-font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
}